---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-storage
  namespace: monitoring
spec:
  storageClassName: tanzu
  accessModes:
  - ReadWriteOnce
  resources:
     requests:
       storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-dashboards
  namespace: monitoring
spec:
  storageClassName: tanzu
  accessModes:
  - ReadWriteOnce
  resources:
     requests:
       storage: 2Gi
